<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>AddResourceServlet</servlet-name>
  	<display-name>AddResourceServlet</display-name>
  	<description></description>
  	<servlet-class>org.fiteagle.dm.intercloud.AddResourceServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<display-name>LoginServlet</display-name>
  	<description></description>
  	<servlet-class>org.fiteagle.dm.intercloud.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CheckLoggedInServlet</servlet-name>
  	<display-name>CheckLoggedInServlet</display-name>
  	<description></description>
  	<servlet-class>org.fiteagle.dm.intercloud.CheckLoggedInServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogoutServlet</servlet-name>
  	<display-name>LogoutServlet</display-name>
  	<description></description>
  	<servlet-class>org.fiteagle.dm.intercloud.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>QueryResourceServlet</servlet-name>
  	<display-name>QueryResourceServlet</display-name>
  	<description></description>
  	<servlet-class>org.fiteagle.dm.intercloud.QueryResourceServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ShowResultsServlet</servlet-name>
  	<display-name>ShowResultsServlet</display-name>
  	<description></description>
  	<servlet-class>org.fiteagle.dm.intercloud.ShowResultsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AddResourceServlet</servlet-name>
  	<url-pattern>/AddResourceServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CheckLoggedInServlet</servlet-name>
  	<url-pattern>/CheckLoggedInServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogoutServlet</servlet-name>
  	<url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>QueryResourceServlet</servlet-name>
  	<url-pattern>/QueryResourceServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ShowResultsServlet</servlet-name>
  	<url-pattern>/ShowResultsServlet</url-pattern>
  </servlet-mapping>
</web-app>
